{% extends 'base.html' %}

{% block content %}
  <h2>Add Qu Survey: {{ survey.title }}</h2>
  <form method="post" action="{% url 'question-create' survey.id %}">
    {% csrf_token %}

    <!-- User-created question -->
    <label for="id_question_text">Enter your question:</label>
    {{ form.question_text }}
    {{ form.category }}
    <!-- Include other fields from the form as needed -->

    <!-- Predefined questions dropdown -->
    <label for="id_predefined_questions">Select a Predefined Question:</label>
    <select name="predefined_questions" id="id_predefined_questions">
      {% for predefined_question in predefined_questions %}
        <option value="{{ predefined_question.id }}">{{ predefined_question.question_text }}</option>
      {% endfor %}
    </select>

    <button type="submit">Add Question</button>
  </form>
{% endblock %}
