{% load static %}
<!-- Footer: Start -->
<footer class="landing-footer bg-body footer-text">
  <div class="footer-top position-relative overflow-hidden z-1" style="background-image: url('{% static 'assets/img/front-pages/backgrounds/footer-bg-light.png' %}'); background-size: cover; background-position: center;">
    <div class="container">
      <div class="row gx-0 gy-4 g-md-5">
        <div class="col-lg-5">
          <a href="#">
            <img src="{% static 'assets/img/logo/logo-dark.png' %}" style="height: 40px; width: auto; max-width: 100%;" />
          </a>
          <br>
          <p class="footer-text footer-logo-description mb-4">
            Choice of business for enps survey and hr tools solution by Office360Degree.
          </p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <h6 class="footer-title mb-4">Useful Links</h6>

        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <h6 class="footer-title mb-4">Services</h6>
        </div>
        <div class="col-lg-3 col-md-4">
          <h6 class="footer-title mb-4">Legal</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom py-3">
    <div class="container d-flex flex-wrap justify-content-between flex-md-row flex-column text-center text-md-start">
      <div class="mb-2 mb-md-0">
        <span class="footer-text">©
          <script>
          document.write(new Date().getFullYear());

          </script>
        </span>
        <span class="footer-text"> Made with ❤️ for <strong> Office360Degree. </strong></span>
      </div>
      <div>
        <a href="https://github.com/" class="footer-link me-3" target="_blank">
          <img src="{% static 'assets/img/front-pages/icons/github-light.png' %}" alt="github icon" data-app-light-img="front-pages/icons/github-light.png" data-app-dark-img="front-pages/icons/github-dark.png" />
        </a>
        <a href="https://www.facebook.com/" class="footer-link me-3" target="_blank">
          <img src="{% static 'assets/img/front-pages/icons/facebook-light.png' %}" alt="facebook icon" data-app-light-img="front-pages/icons/facebook-light.png" data-app-dark-img="front-pages/icons/facebook-dark.png" />
        </a>
        <a href="https://twitter.com/" class="footer-link me-3" target="_blank">
          <img src="{% static 'assets/img/front-pages/icons/twitter-light.png' %}" alt="twitter icon" data-app-light-img="front-pages/icons/twitter-light.png" data-app-dark-img="front-pages/icons/twitter-dark.png" />
        </a>
        <a href="https://www.instagram.com/" class="footer-link" target="_blank">
          <img src="{% static 'assets/img/front-pages/icons/instagram-light.png' %}" alt="google icon" data-app-light-img="front-pages/icons/instagram-light.png" data-app-dark-img="front-pages/icons/instagram-dark.png" />
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- Footer: End -->