{% load static %}

                <!-- Hero: Start -->
              <section id="hero-animation">
                <div id="landingHero" class="section-py landing-hero position-relative">
                  <img src="{% static 'assets/img/front-pages/backgrounds/hero-bg.png' %}" alt="hero background" class="position-absolute top-0 start-50 translate-middle-x object-fit-contain w-100 h-100" data-speed="1" />
                  <div class="container">
                    <div class="hero-text-box text-center">
                      <h1 class="text-primary hero-title display-4 fw-bold">One dashboard to manage all your enps surveys</h1>
                      <h2 class="hero-sub-title h6 mb-4 pb-1">
                        Pre-ready & easy to use survey tool.<br class="d-none d-lg-block" />
                        for Trust and Support.
                      </h2>
                      <div class="landing-hero-btn d-inline-block position-relative">
                        <span class="hero-btn-item position-absolute d-none d-md-flex text-heading">Join us today
                          <img src="{% static 'assets/img/front-pages/icons/Join-community-arrow.png' %}" alt="Join community arrow" class="scaleX-n1-rtl" /></span>
                        <a href="#landingPricing" class="btn btn-primary">Get early access</a>
                      </div>
                    </div>
                    <div id="heroDashboardAnimation" class="hero-animation-img">
                      <a href="#" target="_blank">
                        <div id="heroAnimationImg" class="position-relative hero-dashboard-img">
                          <img src="{% static 'assets/img/front-pages/landing-page/hero-dashboard-light.png' %}" alt="hero dashboard" class="animation-img" data-app-light-img="front-pages/landing-page/hero-dashboard-light.png" data-app-dark-img="front-pages/landing-page/hero-dashboard-dark.html" />
                          <img src="{% static 'assets/img/front-pages/landing-page/hero-elements-light.png' %}" alt="hero elements" class="position-absolute hero-elements-img animation-img top-0 start-0" data-app-light-img="front-pages/landing-page/hero-elements-light.png" data-app-dark-img="front-pages/landing-page/hero-elements-dark.html" />
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="landing-hero-blank"></div>
              </section>
              <!-- Hero: End -->