{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="index.html" class="app-brand-link">
              <img src="../assets/img/logo/logo.png" alt="Office360Degree" class="app-brand-img w-px-100">
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item active">
              <a href="index.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="surveys.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div data-i18n="Analytics">Surveys</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="reports.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-file-find"></i>
                <div data-i18n="Analytics">Reports</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="comments.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-comment-detail"></i>
                <div data-i18n="Analytics">Comments</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="team.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-group"></i>
                <div data-i18n="Analytics">My Team</div>
              </a>
            </li>
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Account</span>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Account Settings</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="pages-account-settings-account.html" class="menu-link">
                    <div data-i18n="Account">Account</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="survey-questions.html" class="menu-link">
                    <div data-i18n="Account">Survey Questions</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="puls-survey-frequency.html" class="menu-link">
                    <div data-i18n="Account">Puls Survey Frequency</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="user-managment.html" class="menu-link">
                    <div data-i18n="Account">User Managment</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="custom-survey.html" class="menu-link">
                    <div data-i18n="Account">Custom Survey Launch</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="pages-account-settings-notifications.html" class="menu-link">
                    <div data-i18n="Notifications">Notifications</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="pages-account-settings-connections.html" class="menu-link">
                    <div data-i18n="Connections">App Integration</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div data-i18n="Misc">Error Pages</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="pages-misc-error.html" class="menu-link">
                    <div data-i18n="Error">Error</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="pages-misc-under-maintenance.html" class="menu-link">
                    <div data-i18n="Under Maintenance">Under Maintenance</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="auth-login-basic.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-log-out"></i>
                <div data-i18n="Analytics">Sign Out</div>
              </a>
            </li>
           
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav class="layout-navbar container-fluid navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                  <a
                    class="github-button"
                    href="https://github.com/themeselection/office 360`-html-admin-template-free"
                    data-icon="octicon-star"
                    data-size="large"
                    data-show-count="true"
                    aria-label="Star themeselection/office 360`-html-admin-template-free on GitHub"
                    >Star</a
                  >
                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">Reeya Padma</span>
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">Settings</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="auth-login-basic.html">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-fluid flex-grow-1 container-p-y">
              <!-- Layout Demo -->
              <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                  
                  
                  <div class="card">
                    
                    <div class="d-flex align-items-end row">
                      <div class="col-sm-7">
                        <div class="card-body">
                          <h5 class="card-title text-primary">Welcome Reeya!! 🎉</h5>
                          <p class="mb-4">
                            Here's the Employee Engagement Analysis for the period ending <span class="fw-bold"> 1st September 2023. </span></p>
                          <a href="javascript:;" class="btn btn-sm btn-outline-primary">Surveys</a>
                        </div>
                      </div>
                      
                      
                      <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                          <img src="../assets/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png" />
                        </div>
                      </div>
                    </div>

                  </div>


                </div>
              </div>
              <div class="row">

                <div class="col-lg-12 mb-4 order-0">

                  <div class="row">
                    <div class="col-md">
                      <div class="card h-100">
                        <div class="card-header">Employee Engagement Score</div>
                        <div class="card-body text-primary">
                          <h5 class="card-title"></h5>
                            <p class="card-text">
                            <div id="empe"></div>
                            Employee Engagement Score between 0 to 10 the period from<span class="fw-bold"> 1st September 2023 to 30th September 2023. </span></p>
                            </p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md">
                      <div class="card h-100">
                        <div class="card-header">eNPS Score</div>
                        <div class="card-body text-secondary">
                          <p class="card-text">
                            <div id="enps-mg"></div> <br/>
                            eNPS Score increased or decreased by X% during the period from<span class="fw-bold"> 1st September 2023 to 30th September 2023. </span></p>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="card h-100">
                        <div class="card-header">Survey Participation</div>
                        <div class="card-body text-success">
                          <div id="eeamg"></div>
                            <p class="card-text">
                              Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                      </div>
                    </div>
                   </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 mb-4 order-0">
                  <div class="row">
                    <div class="col-md">
                      <div class="card">
                        <div class="card-header">Employee Engagement Score Chart</div>
                        <div class="card-body text-primary">
                          <div id="eea2"></div>
                          <p class="card-text">
                            Employee Engagement Score for the<span class="fw-bold"> current month, lifetime high, lifetime low.</span></p>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md">
                      <div class="card">
                        <div class="card-header">eNPS Chart</div>
                        <div class="card-body text-primary">
                          <div id="enps3"></div>
                          <p class="card-text">
                            This indicator/charts shows team wise eNPS score chart for the period from <span class="fw-bold"> 1st September 2023. </span></p>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 mb-4 order-0">

                  <div class="row">
                    <div class="col-md">
                      <div class="card">
                        <div class="card-header">Employee Engagement Indicators</div>
                        <div class="card-body text-primary">
                        <div id="eei"></div>
                          <p class="card-text">
                            This indicator shows the Employee Engagement Indicators for the period from <span class="fw-bold"> 1st September 2023. </span></p>
                          </p>
                        </div>
                      </div>
                    </div>
                   </div>

                </div>

              </div>

              <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                  <div class="row">
                    <div class="col-md">
                      <div class="card">
                        <div class="card-header">Top 3 Strengths</div>
                        <div class="card-body text-primary">
                          <div class="card-body">
                            <div class="list-group">
                              <div class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                  <h6>Loyalty</h5>
                                </div>
                                <p class="mb-1">Loyalty - Here is the defination of selected indicator.
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                                </p>
                              </div>
                              <div class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                  <h6>Recognition</h5>
                                </div>
                                <p class="mb-1">Recognition - Here is the defination of selected indicator.
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution</p>
                              </div>
                              <div class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                  <h6 >Clarity</h6>
                                </div>
                                <p class="mb-1">Clarity - Here is the defination of selected indicator.
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="card">
                        <div class="card-header">Top 3 Area's of Improvement</div>
                          <div class="card-body text-primary">
                            <div class="card-body">
                              <div class="list-group">
                                <div class="list-group-item list-group-item-action">
                                  <div class="d-flex w-100 justify-content-between">
                                    <h6>Workload</h5>
                                  </div>
                                  <p class="mb-1">Workload - Here is the defination of selected indicator.
                                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                                  </p>
                                </div>
                                <div class="list-group-item list-group-item-action">
                                  <div class="d-flex w-100 justify-content-between">
                                    <h6>Relationship</h5>
                                  </div>
                                  <p class="mb-1">Relationship - Here is the defination of selected indicator.
                                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution</p>
                                </div>
                                <div class="list-group-item list-group-item-action">
                                  <div class="d-flex w-100 justify-content-between">
                                    <h6 >Stress</h6>
                                  </div>
                                  <p class="mb-1">Stress - Here is the defination of selected indicator.
                                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Layout Demo -->
            </div>
            <!-- / Content -->

    <!-- / Layout wrapper -->
{% endblock %}