{% load static %}
<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings / </span> Custom Survey Launch </h4>
    <div class="row">
      <div class="col-md-12">
        {% include 'owner/a_s_btn_nav.html' %}
        <div class="row">
          <div class="col-md-12 col-12 mb-md-0 mb-4">
            <div class="card">
              <h5 class="card-header">Add data here</h5>
              <div class="card-body">
                <p>Available apps for integration</p>
              </div>
            </div>
          </div>
        </div>
        <!-- /Connections -->
      </div>
    </div>
  </div>
    <!-- / Content -->
</div>