{% load static %}

<!-- Content wrapper -->
<div class="content-wrapper">
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
  <!-- Layout Demo -->
      <div class="row">
        <!-- single card -->
        {% include 'owner/content-survey-cards.html' %}
           <!-- Content wrapper -->
              <h6 class="py-3 mb-2">Results For - Employee Engagement Pulse Survey</h6>
            <!-- Content -->
              <div class="accordion accordion-header-primary" id="accordionStyle1">
                <div class="accordion-item card">
                  <h2 class="accordion-header">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyle1-1" aria-expanded="false">
                      Loyalty
                    </button>
                  </h2>

                  <div id="accordionStyle1-1" class="accordion-collapse collapse" data-bs-parent="#accordionStyle1">
                    <div class="accordion-body">
                      <h6> This question is based on Loyalty Indicator??? </h6> <br>

                      <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="<i class='bx bx-info-circle bx-xs' ></i> <span>Weekly</span>">
                        <span class="tf-icons bx bx-pie-chart-alt me-1"></span> Duration
                      </button>
                      <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="<i class='bx bx-info-circle bx-xs' ></i> <span>9.4/10</span>">
                        <span class="tf-icons bx bx-task me-1"></span> Score
                      </button>
                      <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Congratulation!! it's green means batter than last month">
                        <span class="tf-icons bx bx-git-compare me-1"></span>
                        Compare to Last Month
                      </button>

                    </div>
                  </div>
                </div>

                <div class="accordion-item card">
                  <h2 class="accordion-header">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyle1-2" aria-expanded="false">
                      Recognition
                    </button>
                  </h2>
                  <div id="accordionStyle1-2" class="accordion-collapse collapse" data-bs-parent="#accordionStyle1">
                    <div class="accordion-body">
                      <h6> This question is based on Recognition Indicator??? </h6> <br>

                      <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="<i class='bx bx-info-circle bx-xs' ></i> <span>Weekly</span>">
                        <span class="tf-icons bx bx-pie-chart-alt me-1"></span> Duration
                      </button>
                      <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="<i class='bx bx-info-circle bx-xs' ></i> <span>9.4/10</span>">
                        <span class="tf-icons bx bx-task me-1"></span> Score
                      </button>
                      <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="ohh!! it's orange, required attention">
                        <span class="tf-icons bx bx-git-compare me-1"></span>
                        Compare to Last Month
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card accordion-item active mb-2">
                  <h2 class="accordion-header">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyle1-3" aria-expanded="false">
                      Clarity
                    </button>
                  </h2>
                  <div id="accordionStyle1-3" class="accordion-collapse collapse" data-bs-parent="#accordionStyle1">
                    <div class="accordion-body">
                      <h6> This question is based on Clarity Indicator??? </h6> <br>

                      <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="<i class='bx bx-info-circle bx-xs' ></i> <span>Weekly</span>">
                        <span class="tf-icons bx bx-pie-chart-alt me-1"></span> Duration
                      </button>
                      <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="<i class='bx bx-info-circle bx-xs' ></i> <span>9.4/10</span>">
                        <span class="tf-icons bx bx-task me-1"></span> Score
                      </button>
                      <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Hurry up!! It's Red, Action  Required">
                        <span class="tf-icons bx bx-git-compare me-1"></span>
                        Compare to Last Month
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card accordion-item active mb-2">
                  <h2 class="accordion-header">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyle1-4" aria-expanded="false">
                      Autonomy
                    </button>
                  </h2>
                  <div id="accordionStyle1-4" class="accordion-collapse collapse" data-bs-parent="#accordionStyle1">
                    <div class="accordion-body">
                      <h6> This question is based on Autonomy Indicator??? </h6> <br>

                      <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="<i class='bx bx-info-circle bx-xs' ></i> <span>Weekly</span>">
                        <span class="tf-icons bx bx-pie-chart-alt me-1"></span> Duration
                      </button>
                      <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="<i class='bx bx-info-circle bx-xs' ></i> <span>9.4/10</span>">
                        <span class="tf-icons bx bx-task me-1"></span> Score
                      </button>
                      <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Congratulation!! it's green means batter than last month">
                        <span class="tf-icons bx bx-git-compare me-1"></span>
                        Compare to Last Month
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card accordion-item active mb-2">
                  <h2 class="accordion-header">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyle1-5" aria-expanded="false">
                      Stress
                    </button>
                  </h2>
                  <div id="accordionStyle1-5" class="accordion-collapse collapse" data-bs-parent="#accordionStyle1">
                    <div class="accordion-body">
                      <h6> This question is based on Stress Indicator??? </h6> <br>

                      <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="<i class='bx bx-info-circle bx-xs' ></i> <span>Weekly</span>">
                        <span class="tf-icons bx bx-pie-chart-alt me-1"></span> Duration
                      </button>
                      <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="<i class='bx bx-info-circle bx-xs' ></i> <span>9.4/10</span>">
                        <span class="tf-icons bx bx-task me-1"></span> Score
                      </button>
                      <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Congratulation!! it's green means batter than last month">
                        <span class="tf-icons bx bx-git-compare me-1"></span>
                        Compare to Last Month
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card accordion-item active mb-2">
                  <h2 class="accordion-header">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyle1-6" aria-expanded="false">
                      Relationship
                    </button>
                  </h2>
                  <div id="accordionStyle1-6" class="accordion-collapse collapse" data-bs-parent="#accordionStyle1">
                    <div class="accordion-body">
                      <h6> This question is based on Relationship Indicator??? </h6> <br>

                      <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="<i class='bx bx-info-circle bx-xs' ></i> <span>Weekly</span>">
                        <span class="tf-icons bx bx-pie-chart-alt me-1"></span> Duration
                      </button>
                      <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="<i class='bx bx-info-circle bx-xs' ></i> <span>9.4/10</span>">
                        <span class="tf-icons bx bx-task me-1"></span> Score
                      </button>
                      <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Congratulation!! it's green means batter than last month">
                        <span class="tf-icons bx bx-git-compare me-1"></span>
                        Compare to Last Month
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!--/ Layout Demo -->
</div>
<!-- / Content -->
<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
